.circle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #fff;
    border: 1px solid lightgray;
    padding: 10px;
    font: 18px Arial, sans-serif;
}
p{
display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;
}