{% load static %}
<!--<footer class="footer mt-auto">-->
<footer style="background-color: #F2F3F4;">
  <div class="container">
    <div class="row">
        <div class="col">
          <div class="text-center">
            <p class="pr-5 mt-4 text-black-100"><img class="rounded" src="{% static 'img/qb1.png' %}" class="d-block w-20" height="100px"></p>
          </div>
          <div class="col">
            <div class="text-center">
              <i class="fa fa-facebook" aria-hidden="true" style="font-size:40px; color:#0d52c9"></i>&nbsp&nbsp
              <i class="fa fa-instagram" aria-hidden="true" style="font-size:40px; color:#d62976"></i>&nbsp&nbsp
              <i class="fa fa-twitter" aria-hidden="true" style="font-size:40px; color:#1da1f2"></i>&nbsp&nbsp
              <i class="fa fa-linkedin" aria-hidden="true" style="font-size:40px; color:#0a66c2"></i>
            </div>
          </div>
        </div>
      <div class="col">
        <div class="text-center mt-3">
          <h4 class="text-primary"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h4>
          <p>302, Abhishilp Complex, Ahmedabad, Gujarat</p>
          <p class="mb-0"><i class="fa fa-phone mr-3"></i> (+91) 97128 86224</p>
          <p><i class="fa fa-envelope-o mr-3"></i> info@quantumbot.in</p>
          <p><i class="fa fa-globe" aria-hidden="true"></i> <a href="https://quantumbot.in/" class="text-primary" style="text-decoration: none;"> https://quantumbot.in</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
