{% load static %}
<div class="container">
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="http://127.0.0.1:8000/"><img class="mx-auto d-block rounded" src="{% static 'img/qb1.png' %}" class="d-block w-20" height="50"></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Men
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in data %}
                            <li><a class="dropdown-item" href="product/{{category.id}}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Women
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in data %}
                            <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://quantumbot.in/contact-us/">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-group">
                        <input class="form-control" style="border: 1px solid gray" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                    <i class="fa fa-shopping-cart ms-3 mt-1" aria-hidden="true" style="font-size:40px; color:#0d52c9"></i>
                </form>
            </div>
        </div>
    </nav>
</div>
